

<%= form_for(@submission,:html => {:class => 'form-inline'})  do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="Player">
  <div class="field">
    <%= f.label :p1_first_name %><br>
    <%= f.text_field :p1_first_name %>
  </div>
  <div class="field">
    <%= f.label :p1_last_name %><br>
    <%= f.text_field :p1_last_name %>
  </div>
  <div class="field">
    <%= f.label :p1_handicap %><br>
    <%= f.text_field :p1_handicap %>
  </div>
  <div class="field">

    <%= f.hidden_field :team,:value => @club %>
  </div>
  <div class="field">
    <%= f.hidden_field :venue, :value => @venue %>
  </div>
  <div class="field">
    <%= f.hidden_field :league, :value => @league %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :p2_first_name %><br>
    <%= f.text_field :p2_first_name %>
  </div>
  <div class="field">
    <%= f.label :p2_last_name %><br>
    <%= f.text_field :p2_last_name %>
  </div>
  <div class="field">
    <%= f.label :p2_handicap %><br>
    <%= f.text_field :p2_handicap %>
  </div>

</div>
  <div class="Player">
  <div class="field">
    <%= f.label :p3_first_name %><br>
    <%= f.text_field :p3_first_name %>
  </div>
  <div class="field">
    <%= f.label :p3_last_name %><br>
    <%= f.text_field :p3_last_name %>
  </div>
  <div class="field">
    <%= f.label :p3_handicap %><br>
    <%= f.text_field :p3_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :p4_first_name %><br>
    <%= f.text_field :p4_first_name %>
  </div>
  <div class="field">
    <%= f.label :p4_last_name %><br>
    <%= f.text_field :p4_last_name %>
  </div>
  <div class="field">
    <%= f.label :p4_handicap %><br>
    <%= f.text_field :p4_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :p5_first_name %><br>
    <%= f.text_field :p5_first_name %>
  </div>
  <div class="field">
    <%= f.label :p5_last_name %><br>
    <%= f.text_field :p5_last_name %>
  </div>
  <div class="field">
    <%= f.label :p5_handicap %><br>
    <%= f.text_field :p5_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :p6_first_name %><br>
    <%= f.text_field :p6_first_name %>
  </div>
  <div class="field">
    <%= f.label :p6_last_name %><br>
    <%= f.text_field :p6_last_name %>
  </div>
  <div class="field">
    <%= f.label :p6_handicap %><br>
    <%= f.text_field :p6_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :p7_first_name %><br>
    <%= f.text_field :p7_first_name %>
  </div>
  <div class="field">
    <%= f.label :p7_last_name %><br>
    <%= f.text_field :p7_last_name %>
  </div>
  <div class="field">
    <%= f.label :p7_handicap %><br>
    <%= f.text_field :p7_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :p8_first_name %><br>
    <%= f.text_field :p8_first_name %>
  </div>
  <div class="field">
    <%= f.label :p8_last_name %><br>
    <%= f.text_field :p8_last_name %>
  </div>
  <div class="field">
    <%= f.label :p8_handicap %><br>
    <%= f.text_field :p8_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :g1_first_name %><br>
    <%= f.text_field :g1_first_name %>
  </div>
  <div class="field">
    <%= f.label :g1_last_name %><br>
    <%= f.text_field :g1_last_name %>
  </div>
  <div class="field">
    <%= f.label :g1_handicap %><br>
    <%= f.text_field :g1_handicap %>
  </div>

</div>
<div class="Player">
  <div class="field">
    <%= f.label :g2_first_name %><br>
    <%= f.text_field :g2_first_name %>
  </div>
  <div class="field">
    <%= f.label :g2_last_name %><br>
    <%= f.text_field :g2_last_name %>
  </div>
  <div class="field">
    <%= f.label :g2_handicap %><br>
    <%= f.text_field :g2_handicap %>
  </div>
</div>
  <div class="Player">
    <div class="field">
      <%= f.label :g3_first_name %><br>
      <%= f.text_field :g3_first_name %>
    </div>
    <div class="field">
      <%= f.label :g3_last_name %><br>
      <%= f.text_field :g3_last_name %>
    </div>
    <div class="field">
      <%= f.label :g3_handicap %><br>
      <%= f.text_field :g3_handicap %>
    </div>
  </div>
    <div class="Player">
      <div class="field">
        <%= f.label :g4_first_name %><br>
        <%= f.text_field :g4_first_name %>
      </div>
      <div class="field">
        <%= f.label :g4_last_name %><br>
        <%= f.text_field :g4_last_name %>
      </div>
      <div class="field">
        <%= f.label :g4_handicap %><br>
        <%= f.text_field :g4_handicap %>
      </div>

</div>
<div class="Player">
  <%= render 'shared/problem' %>
    <div class="field form-btn">
    <%= f.submit "Submit Player details"%>
  </div>
</div>
<% end %>
