<h1>Fixture List</h1>
  <li>Test  <time datetime="2016-09-10">10/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Test"}%></li>
<div class="box blue rabbits">
  <h2>NERGA BLUE</h2>
    <ul>
      <li>Ripon City  <time datetime="2016-05-01">01/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Ripon City" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
      <li>Dinsdale Spa  <time datetime="2016-05-28">28/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Dinsdale Spa"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
      <li>Filey  <time datetime="2016-05-06">05/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Filey"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
      <li>Romanby  <time datetime="2016-07-03">03/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Romanby"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
      <li>Kirkbymoorside  <time datetime="2016-07-09">09/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Kirkbymoorside"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
      <li>Forest Park - York <time datetime="2016-07-31">31/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Forest Park - York"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
      <li>Easingwold  <time datetime="2016-08-06">06/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Easingwold"}, :class => "fixturelink btn btn-default btn-xs"%></li>
      <li>Malton & Norton  <time datetime="2016-09-10">10/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Malton & Norton"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    </ul>
</div>
<div class="box green rabbits">
<h2>NERGA GREEN</h2>
  <ul>
    <li>Darlington  <time datetime="2016-04-17">17/04/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Darlington" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
    <li>Richmond  <time datetime="2016-04-30">30/04/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Richmond"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Kp Club  <time datetime="2016-05-07">07/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Kp Club"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Whitby  <time datetime="2016-05-22">22/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Whitby"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Scarborough North  <time datetime="2016-06-11">11/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Scarborough North"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Thirsk & Nortallerton <time datetime="2016-07-16">16/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Thirsk & Nortallerton"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Catterick  <time datetime="2016-08-14">14/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Catterick"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    <li>Bedale  <time datetime="2016-09-10">10/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Bedale"}, :class => "fixturelink btn btn-default btn-xs"%></li>
  </ul>
</div>
<div class="box red rabbits">
<h2>NERGA RED</h2>
  <ul>
    <li>Boldon  <time datetime="2016-05-21">21/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Boldon" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
    <li>Wearside  <time datetime="2016-06-12">12/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Wearside"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Hobson  <time datetime="2016-06-26">26/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Hobson"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Billingham  <time datetime="2016-07-03">03/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Billingham"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Crook  <time datetime="2016-07-16">16/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Crook"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Parklands <time datetime="2016-07-24">24/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Parklands"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Beamish  <time datetime="2016-08-20">20/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Beamish"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    <li>South Moor  <time datetime="2016-08-27">27/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"South Moor"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    <li>Roseberry Grange  <time datetime="2016-09-10">10/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Roseberry Grange"}, :class => "fixturelink btn btn-default btn-xs"%></li>
  </ul>
</div>
<div class="box yellow rabbits">
  <h2>NERGA YELLOW</h2>
  <ul>
    <li>Seaham  <time datetime="2016-04-16">16/04/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Seaham" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
    <li>Prudhoe  <time datetime="2016-05-15">15/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Prudhoe"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Bishop Auckland  <time datetime="2016-05-22">22/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Bishop Auckland"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Houghton Le Spring  <time datetime="2016-06-04">04/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Houghton Le Spring"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Chester Le Street  <time datetime="2016-06-26">26/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Chester Le Street"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Blackwell Grange <time datetime="2016-07-23">23/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Blackwell Grange"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Garesfield  <time datetime="2016-08-21">21/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Garesfield"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    <li>Stocksfield  <time datetime="2016-09-04">04/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Stocksfield"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    <li>Ravensworth  <time datetime="2016-09-11">11/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Ravensworth"}, :class => "fixturelink btn btn-default btn-xs"%></li>
  </ul>
</div>
<div class="box north inter">
<h2>INTER NORTH</h2>
  <ul>
    <li>Wearside  <time datetime="2016-04-23">23/04/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Wearside" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
    <li>Ravensworth  <time datetime="2016-05-15">15/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Ravensworth"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Roseberry Grange  <time datetime="2016-05-28">28/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Roseberry Grange"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Houghton Le Spring  <time datetime="2016-06-18">18/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Houghton Le Spring"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Parklands  <time datetime="2016-07-03">03/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Parklands"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>South Moor <time datetime="2016-07-16">16/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"South Moor"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Hobson  <time datetime="2016-07-24">24/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Hobson"}, :class => "fixturelink btn btn-default btn-xs"%></li>
    <li>Stocksfield  <time datetime="2016-08-14">14/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Stocksfield"}, :class => "fixturelink btn btn-default btn-xs"%></li>
  </ul>
</div>
<div class="box central inter">
  <h2>INTER CENTRAL</h2>
  <ul>
    <li>Whitby  <time datetime="2016-04-17">17/04/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Whitby" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
    <li>Richmond  <time datetime="2016-05-14">14/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Richmond"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Blackwell Grange  <time datetime="2016-06-18">18/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Blackwell Grange"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Crook  <time datetime="2016-07-16">16/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Crook"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Romanby  <time datetime="2016-07-24">24/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Romanby"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Bedale <time datetime="2016-08-13">13/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Bedale"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Catterick  <time datetime="2016-09-11">11/09/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Catterick"}, :class => "fixturelink btn btn-default btn-xs"%></li>
  </ul>
</div>
<div class="box south inter">
  <h2>INTER SOUTH</h2>
  <ul>
    <li>Malton & Norton  <time datetime="2016-">07/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Malton & Norton" }, :class => "fixturelink btn btn-default btn-xs" %>  </li>
    <li>Easingwold  <time datetime="2016-">15/05/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Easingwold"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Darlington  <time datetime="2016-">19/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Darlington"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Ripon City  <time datetime="2016-">26/06/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Ripon City"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Filey  <time datetime="2016-">17/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Filey"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Kirkbymoorside <time datetime="2016-">24/07/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Kirkbymoorside"}, :class => "fixturelink btn btn-default btn-xs"%> </li>
    <li>Hunley Hotel& Golf  <time datetime="2016-">07/08/2016</time> <%= link_to "View Entries", {:controller => :submissions, :action => :fixtureshow, :fixture =>"Hunley Hotel& Golf"}, :class => "fixturelink btn btn-default btn-xs"%></li>
  </ul>
</div>
