<h1>Listing submissions for <%= @venue %> </h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Handicap</th>
      <th>Club</th>
      <th>Venue</th>
      <th>Position</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.p1_first_name %></td>
        <td><%= submission.p1_last_name %></td>
        <td><%= submission.p1_handicap %></td>
        <td><%= submission.p1_club %></td>
        <td><%= submission.p1_venue %></td>
        <td><%= submission.p1_position %></td>
      </tr>
      <tr>
        <td><%= submission.p2_first_name %></td>
        <td><%= submission.p2_last_name %></td>
        <td><%= submission.p2_handicap %></td>
        <td><%= submission.p2_club %></td>
        <td><%= submission.p2_venue %></td>
        <td><%= submission.p2_position %></td>
      </tr>
      <tr>
        <td><%= submission.p3_first_name %></td>
        <td><%= submission.p3_last_name %></td>
        <td><%= submission.p3_handicap %></td>
        <td><%= submission.p3_club %></td>
        <td><%= submission.p3_venue %></td>
        <td><%= submission.p3_position %></td>
      </tr>
      <tr>
        <td><%= submission.p4_first_name %></td>
        <td><%= submission.p4_last_name %></td>
        <td><%= submission.p4_handicap %></td>
        <td><%= submission.p4_club %></td>
        <td><%= submission.p4_venue %></td>
        <td><%= submission.p4_position %></td>
      </tr>
      <tr>
        <td><%= submission.p5_first_name %></td>
        <td><%= submission.p5_last_name %></td>
        <td><%= submission.p5_handicap %></td>
        <td><%= submission.p5_club %></td>
        <td><%= submission.p5_venue %></td>
        <td><%= submission.p5_position %></td>
      </tr>
      <tr>
        <td><%= submission.p6_first_name %></td>
        <td><%= submission.p6_last_name %></td>
        <td><%= submission.p6_handicap %></td>
        <td><%= submission.p6_club %></td>
        <td><%= submission.p6_venue %></td>
        <td><%= submission.p6_position %></td>
      </tr>
      <tr>
        <td><%= submission.p7_first_name %></td>
        <td><%= submission.p7_last_name %></td>
        <td><%= submission.p7_handicap %></td>
        <td><%= submission.p7_club %></td>
        <td><%= submission.p7_venue %></td>
        <td><%= submission.p7_position %></td>
      </tr>
      <tr>
        <td><%= submission.p8_first_name %></td>
        <td><%= submission.p8_last_name %></td>
        <td><%= submission.p8_handicap %></td>
        <td><%= submission.p8_club %></td>
        <td><%= submission.p8_venue %></td>
        <td><%= submission.p8_position %></td>
      </tr>
      <tr>
        <td><%= submission.g1_first_name %></td>
        <td><%= submission.g1_last_name %></td>
        <td><%= submission.g1_handicap %></td>
        <td><%= submission.g1_club %></td>
        <td><%= submission.g1_venue %></td>
        <td><%= submission.g1_position %></td>
      </tr>
      <tr>
        <td><%= submission.g2_first_name %></td>
        <td><%= submission.g2_last_name %></td>
        <td><%= submission.g2_handicap %></td>
        <td><%= submission.g2_club %></td>
        <td><%= submission.g2_venue %></td>
        <td><%= submission.g2_position %></td>
        <% if user_signed_in? && current_user.id == submission.user_id %>
        <td><%= link_to 'Show', submission, :class=>" btn1 btn btn-primary " %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission), :class=>" btn1 btn btn-info " %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn1 btn btn-danger " %></td>
        <% else %>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% link_to 'New Submission', new_submission_path %>
<%= link_to 'Generate CSV File',  {:format => :csv , :fixture =>@venue }, :class=>"btn btn-danger btn-block" %>
