<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Handicap</th>
      <th>Club</th>
      <th>Venue</th>


    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @submission.p1_first_name %></td>
        <td><%= @submission.p1_last_name %></td>
        <td><%= @submission.p1_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.p2_first_name %></td>
        <td><%= @submission.p2_last_name %></td>
        <td><%= @submission.p2_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.p3_first_name %></td>
        <td><%= @submission.p3_last_name %></td>
        <td><%= @submission.p3_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.p4_first_name %></td>
        <td><%= @submission.p4_last_name %></td>
        <td><%= @submission.p4_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.p5_first_name %></td>
        <td><%= @submission.p5_last_name %></td>
        <td><%= @submission.p5_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      <tr>
        <td><%= @submission.p6_first_name %></td>
        <td><%= @submission.p6_last_name %></td>
        <td><%= @submission.p6_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      <tr>
        <td><%= @submission.p7_first_name %></td>
        <td><%= @submission.p7_last_name %></td>
        <td><%= @submission.p7_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.p8_first_name %></td>
        <td><%= @submission.p8_last_name %></td>
        <td><%= @submission.p8_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.g1_first_name %></td>
        <td><%= @submission.g1_last_name %></td>
        <td><%= @submission.g1_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.g2_first_name %></td>
        <td><%= @submission.g2_last_name %></td>
        <td><%= @submission.g2_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.g3_first_name %></td>
        <td><%= @submission.g3_last_name %></td>
        <td><%= @submission.g3_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>
      <tr>
        <td><%= @submission.g4_first_name %></td>
        <td><%= @submission.g4_last_name %></td>
        <td><%= @submission.g4_handicap %></td>
        <td><%= @submission.team %></td>
        <td><%= @submission.venue %></td>
      </tr>

  </tbody>
</table>



<%= link_to 'Edit', {:controller => :submissions, :action => :edit, :fixture => @submission.venue} %> 
