
<h1>Rabbits Blue</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ripon City  <time datetime="2016-05-01">01/05/2016</time> <a href="/blue/RabbitsRipon City_Playerresult.pdf" target="_blank">Player  Results</a>   <a href="/blue/RabbitsRipon Cit _Teamresult.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Dinsdale Spa  <time datetime="2016-05-28">28/05/2016</time>  <a href="/blue/Rabbits Blue Zone_DinsdaleSpa _ Player result.pdf" target="_blank">Player  Results</a>   <a href="/blue/Rabbits Blue Zone_DinsdaleSpa _ Team result.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Filey  <time datetime="2016-06-05">05/06/2016</time>  <a href="/blue/Rabbits Blue Zone_Filey_Ev3 _ Player result.pdf" target="_blank">Player  Results</a>   <a href="/blue/Rabbits Blue Zone_Filey_Ev3 _ Team result.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Romanby  <time datetime="2016-07-03">03/07/2016</time> 12:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Romanby", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Kirkbymoorside  <time datetime="2016-07-09">09/07/2016</time> 13:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Kirkbymoorside", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Forest Park - York <time datetime="2016-07-31">31/07/2016</time> 11:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Forest Park - York", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Easingwold  <time datetime="2016-08-06">06/08/2016</time> 10:36 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Easingwold", :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Malton & Norton  <time datetime="2016-09-10">10/09/2016</time> 12:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Malton & Norton", :league =>"Rabbits"}, :class => "datelink"%></li>

</ul>
<div class="overallresults">
     <a href="/blue/Rabbits Blue Overall_Results_Team_PostEV3.pdf" target="_blank">Overall Player Results</a> </br>
      <a href="/blue/Rabbits Blue Overall_Results_Team_PostEV3.pdf" target="_blank">Overall Team Results</a>
  </div>
<%= render 'shared/problem' %>
</div>
