<h1>Inter Central (Yellow)</h1>
<div class="fixture">
<ul>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Richmond  <time datetime="2016-05-14">14/05/2016</time> <a href="/public/interyellow/Inter Yellow Zone_Richmond _Ev2_ PlayerScore .pdf" target="_blank">Player  Results</a>   <a href="/public/interyellow/Inter Yellow Zone_Richmond _Ev2_ TeamScore .pdf" target="_blank">Team Results</a> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Blackwell Grange  <time datetime="2016-06-18">18/06/2016</time>12:30  <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Blackwell Grange", :league =>"Inter" }, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Whitby  <time datetime="2016-07-09">09/07/2016</time>  10:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Whitby" , :league =>"Inter" }, :class => "datelink" %>  </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Crook  <time datetime="2016-07-16">16/07/2016</time> 9:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Crook", :league =>"Inter" }, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Romanby  <time datetime="2016-07-24">24/07/2016</time> 12:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Romanby", :league =>"Inter" }, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Bedale <time datetime="2016-08-13">13/08/2016</time> 8:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Bedale", :league =>"Inter" }, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> South Moor <time datetime="2016-08-27">27/08/2016</time> 9:30  <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"South Moor", :league =>"Inter" }, :class => "datelink"%> </li>

</ul>
<div class="overallresults">
     <a href="/public/interyellow/Inter Yellow- Overall_Results Players - after EV2.pdf" target="_blank">Overall Player Results</a> </br>
      <a href="/public/interyellow/Inter Yellow- Overall_Results Team - after EV2.pdf" target="_blank">Overall Team Results</a>
  </div>
<%= render 'shared/problem' %>
</div>
