<h1>Inter Central</h1>
<div class="fixture">
<ul>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Whitby  <time datetime="2016-04-17">17/04/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Whitby" }, :class => "datelink" %>  </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Richmond  <time datetime="2016-05-14">14/05/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Richmond"}, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Blackwell Grange  <time datetime="2016-06-18">18/06/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Blackwell Grange"}, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Crook  <time datetime="2016-07-16">16/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Crook"}, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Romanby  <time datetime="2016-07-24">24/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Romanby"}, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Bedale <time datetime="2016-08-13">13/08/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Bedale"}, :class => "datelink"%> </li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Catterick  <time datetime="2016-09-11">11/09/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Catterick"}, :class => "datelink"%></li>
</ul>
<%= render 'shared/problem' %>
</div>
