
<h1>Rabbits Green</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Darlington  <time datetime="2016-04-17">17/04/2016</time> 10:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Darlington" , :league =>"Rabbits"}, :class => "datelink" %>  </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Richmond  <time datetime="2016-04-30">30/04/2016</time> 9:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Richmond", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Kp Club  <time datetime="2016-05-07">07/05/2016</time> 11:32 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Kp Club", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Whitby  <time datetime="2016-05-15">15/05/2016</time> 10:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Whitby" , :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Scarborough North  <time datetime="2016-06-11">11/06/2016</time> 10:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Scarborough North",  :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Thirsk & Nortallerton <time datetime="2016-07-16">16/07/2016</time>12:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Thirsk & Nortallerton", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Catterick  <time datetime="2016-08-14">14/08/2016</time> 9:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Catterick" , :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Bedale  <time datetime="2016-09-10">10/09/2016</time> 8:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Bedale" , :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> test  <time datetime="2016-04-15">15/04/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Test" , :league =>"Rabbits"}, :class => "datelink"%></li>
</ul>
<%= render 'shared/problem' %>
</div>
