
<h1>Rabbits Green</h1>
<p>Find me in app/views/zones/green.html.erb</p>
<ul>
  <li>Darlington  <time datetime="2016-04-17">17/04/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Darlington" }, :class => "datelink" %>  </li>
  <li>Richmond  <time datetime="2016-04-30">30/04/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Richmond"}, :class => "datelink"%> </li>
  <li>Kp Club  <time datetime="2016-05-07">07/05/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Kp Club"}, :class => "datelink"%> </li>
  <li>Whitby  <time datetime="2016-05-22">22/05/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Whitby"}, :class => "datelink"%> </li>
  <li>Scarborough North  <time datetime="2016-06-11">11/06/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Scarborough North"}, :class => "datelink"%> </li>
  <li>Thirsk & Nortallerton <time datetime="2016-07-16">16/07/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Thirsk & Nortallerton"}, :class => "datelink"%> </li>
  <li>Catterick  <time datetime="2016-08-14">14/08/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Catterick"}, :class => "datelink"%></li>
  <li>Bedale  <time datetime="2016-09-10">10/09/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Bedale"}, :class => "datelink"%></li>
<li>test  <time datetime="2016-01-20">20/01/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :teamentry, :fixture =>"Test"}, :class => "datelink"%></li>
</ul>
