

<h1>Inter North</h1>
<p>Find me in app/views/zones/north.html.erb</p>
<ul>
  <li>Wearside  <time datetime="2016-04-23">23/04/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Wearside" }, :class => "datelink" %>  </li>
  <li>Ravensworth  <time datetime="2016-05-15">15/05/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Ravensworth"}, :class => "datelink"%> </li>
  <li>Roseberry Grange  <time datetime="2016-05-28">28/05/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Roseberry Grange"}, :class => "datelink"%> </li>
  <li>Houghton Le Spring  <time datetime="2016-06-18">18/06/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Houghton Le Spring"}, :class => "datelink"%> </li>
  <li>Parklands  <time datetime="2016-07-03">03/07/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Parklands"}, :class => "datelink"%> </li>
  <li>South Moor <time datetime="2016-07-16">16/07/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"South Moor"}, :class => "datelink"%> </li>
  <li>Hobson  <time datetime="2016-07-24">24/07/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Hobson"}, :class => "datelink"%></li>
  <li>Stocksfield  <time datetime="2016-08-14">14/08/2016</time> <%= link_to "Enter Team", {:controller => :submissions, :action => :new, :fixture =>"Stocksfield"}, :class => "datelink"%></li>
</ul>
