<h1>Inter North Red</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Wearside  <time datetime="2016-04-23">23/04/2016</time>   <a href="/red/Inter Red Zone_Wearside _Ev1_ PlayerScore .pdf" target="_blank">Player  Results</a>   <a href="/red/Red_Inter_Overall_Player_Team.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ravensworth  <time datetime="2016-05-15">15/05/2016</time> 10:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Ravensworth", :league =>"Inter" }, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Roseberry Grange  <time datetime="2016-05-28">28/05/2016</time> 10:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Roseberry Grange", :league =>"Inter" }, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Houghton Le Spring  <time datetime="2016-06-18">18/06/2016</time> 10:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Houghton Le Spring", :league =>"Inter" }, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Parklands  <time datetime="2016-07-03">03/07/2016</time> 11:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Parklands", :league =>"Inter" }, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hobson  <time datetime="2016-07-24">24/07/2016</time> 12:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Hobson", :league =>"Inter" }, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Stocksfield  <time datetime="2016-08-14">14/08/2016</time> 11:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Stocksfield", :league =>"Inter" }, :class => "datelink"%></li>

</ul>

 <a href="/red/Red_Inter_Overall_Player_Results.pdf" target="_blank">Overall Player Results</a>
  <a href="/red/Red_Inter_Overall_Player_Team.pdf" target="_blank">Overall Team Results</a>
<%= render 'shared/problem' %>
</div>
