<h1>Inter North</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Wearside  <time datetime="2016-04-23">23/04/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Wearside" }, :class => "datelink" %>  </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ravensworth  <time datetime="2016-05-15">15/05/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Ravensworth"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Roseberry Grange  <time datetime="2016-05-28">28/05/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Roseberry Grange"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Houghton Le Spring  <time datetime="2016-06-18">18/06/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Houghton Le Spring"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Parklands  <time datetime="2016-07-03">03/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Parklands"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> South Moor <time datetime="2016-07-16">16/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"South Moor"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hobson  <time datetime="2016-07-24">24/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Hobson"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Stocksfield  <time datetime="2016-08-14">14/08/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Stocksfield"}, :class => "datelink"%></li>
</ul>
<%= render 'shared/problem' %>
</div>
