
<h1>Rabbits Red</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Boldon  <time datetime="2016-05-21">21/05/2016</time> <a href="/red/Rabbits Red Zone_Boldon Player Result.pdf" target="_blank">Player  Results</a>   <a href="/red/Rabbits Red Zone_Boldon Team Result.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Wearside  <time datetime="2016-06-12">12/06/2016</time> 9:00   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Wearside", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hobson  <time datetime="2016-06-26">26/06/2016</time> 12:00   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Hobson", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Billingham  <time datetime="2016-07-03">03/07/2016</time> 9:00   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Billingham", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Crook  <time datetime="2016-07-16">16/07/2016</time> 12:30   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Crook", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Parklands <time datetime="2016-07-24">24/07/2016</time>  11:30   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Parklands", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> South Moor  <time datetime="2016-08-06">6/08/2016</time> 9:30   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"South Moor", :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Roseberry Grange  <time datetime="2016-09-10">10/09/2016</time> 10:30   <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Roseberry Grange", :league =>"Rabbits"}, :class => "datelink"%></li>
</ul>
<div class="overallresults">
     <a href="/red/Red_Rabbits_Overall_Player_Results postEV1.pdf" target="_blank">Overall Player Results</a> </br>
      <a href="/red/Red_Rabbits_Overall_Team_Results postEV1.pdf" target="_blank">Overall Team Results</a>
  </div>
<%= render 'shared/problem' %>
</div>
