
<h1>Rabbits Red</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Boldon  <time datetime="2016-05-21">21/05/2016</time> 11:00  *South Moor<%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Boldon" , :league =>"Rabbits"}, :class => "datelink" %>  </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Wearside  <time datetime="2016-06-12">12/06/2016</time> 9:00  *Beamish <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Wearside", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hobson  <time datetime="2016-06-26">26/06/2016</time> 12:00  *Roseberry Grange <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Hobson", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Billingham  <time datetime="2016-07-03">03/07/2016</time> 9:00  *Boldon <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Billingham", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Crook  <time datetime="2016-07-16">16/07/2016</time> 12:30  *Wearside <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Crook", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Parklands <time datetime="2016-07-24">24/07/2016</time>  11:30  *Hobson <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Parklands", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> South Moor  <time datetime="2016-08-06">6/08/2016</time> 9:30  *Billingham <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"South Moor", :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Beamish  <time datetime="2016-08-20">20/08/2016</time> 9:30  *Crook <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Beamish", :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Roseberry Grange  <time datetime="2016-09-10">10/09/2016</time> 10:30  *Parklands <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Roseberry Grange", :league =>"Rabbits"}, :class => "datelink"%></li>
</ul>
<p>* denotes club not playing that fixture</p>
<%= render 'shared/problem' %>
</div>
