
<h1>Rabbits Red</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Boldon  <time datetime="2016-05-21">21/05/2016</time> 11:00 <span class="text-danger"> *South Moor</span><%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Boldon" , :league =>"Rabbits"}, :class => "datelink" %>  </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Wearside  <time datetime="2016-06-12">12/06/2016</time> 9:00 <span class="text-danger"> *Beamish</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Wearside", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hobson  <time datetime="2016-06-26">26/06/2016</time> 12:00 <span class="text-danger"> *Roseberry Grange</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Hobson", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Billingham  <time datetime="2016-07-03">03/07/2016</time> 9:00 <span class="text-danger"> *Boldon</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Billingham", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Crook  <time datetime="2016-07-16">16/07/2016</time> 12:30 <span class="text-danger"> *Wearside</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Crook", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Parklands <time datetime="2016-07-24">24/07/2016</time>  11:30 <span class="text-danger"> *Hobson</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Parklands", :league =>"Rabbits"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> South Moor  <time datetime="2016-08-6">6/08/2016</time> 9:30 <span class="text-danger"> *Billingham</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"South Moor", :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Beamish  <time datetime="2016-08-20">20/08/2016</time> 9:30 <span class="text-danger"> *Crook</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Beamish", :league =>"Rabbits"}, :class => "datelink"%></li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Roseberry Grange  <time datetime="2016-09-10">10/09/2016</time> 10:30 <span class="text-danger"> *Parklands</span> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Roseberry Grange", :league =>"Rabbits"}, :class => "datelink"%></li>
</ul>
<p>* denotes club not playing that fixture</p>
<%= render 'shared/problem' %>
</div>
