<h1>Inter South Blue</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Malton & Norton  <time datetime="2016-05-07">07/05/2016</time> 12:30  <a href="/interblue/Inter Blue Zone_Malton & Norton Player Result.pdf" target="_blank">Player  Results</a>   <a href="/interblue/Inter Blue Zone_Malton & Norton Team Result.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Easingwold  <time datetime="2016-05-15">15/05/2016</time> 10:30 <a href="/interblue/Inter Blue Zone_Easingwold_Player Result.pdf" target="_blank">Player  Results</a>   <a href="/interblue/Inter Blue Zone_EasingwoldTeam Result.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Darlington  <time datetime="2016-06-19">19/06/2016</time> 10:00  <a href="/interblue/Inter Blue Zone_Darlington_Player Result.pdf" target="_blank">Player  Results</a>   <a href="/interblue/Inter Blue Zone_Darlington_Team Result.pdf" target="_blank">Team Results</a> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ripon City  <time datetime="2016-06-26">26/06/2016</time> 11:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Ripon City", :league =>"Inter"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Kirkbymoorside <time datetime="2016-07-24">24/07/2016</time> 13:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Kirkbymoorside", :league =>"Inter"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hunley Hotel& Golf  <time datetime="2016-08-07">07/08/2016</time> 11:56 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Hunley Hotel& Golf", :league =>"Inter"}, :class => "datelink"%></li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Catterick  <time datetime="2016-09-11">11/09/2016</time> 9:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :teamentry, :fixture =>"Catterick", :league =>"Inter" }, :class => "datelink"%></li>
</ul>
<div class="overallresults">
     <a href="/interblue/Inter Blue Overall_Results_Player_PostEV3.pdf" target="_blank">Overall Player Results</a> </br>
      <a href="/interblue/Inter Blue Overall_Results_Team_PostEV3.pdf" target="_blank">Overall Team Results</a>
  </div>

<%= render 'shared/problem' %>
</div>
