<h1>Inter South Blue</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Malton & Norton  <time datetime="2016-">07/05/2016</time> 12:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Malton & Norton", :league =>"Inter" }, :class => "datelink" %>  </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Easingwold  <time datetime="2016-">15/05/2016</time> 10:30 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Easingwold", :league =>"Inter"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Darlington  <time datetime="2016-">19/06/2016</time> 10:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Darlington", :league =>"Inter"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ripon City  <time datetime="2016-">26/06/2016</time> 11:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Ripon City", :league =>"Inter"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Kirkbymoorside <time datetime="2016-">24/07/2016</time> 13:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Kirkbymoorside", :league =>"Inter"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hunley Hotel& Golf  <time datetime="2016-">07/08/2016</time> 11:56 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Hunley Hotel& Golf", :league =>"Inter"}, :class => "datelink"%></li>
  <li> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Catterick  <time datetime="2016-09-11">11/09/2016</time> 9:00 <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Catterick", :league =>"Inter" }, :class => "datelink"%></li>
</ul>
<%= render 'shared/problem' %>
</div>
