<h1>Inter South</h1>
<div class="fixture">
<ul>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Malton & Norton  <time datetime="2016-">07/05/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Malton & Norton" }, :class => "datelink" %>  </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Easingwold  <time datetime="2016-">15/05/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Easingwold"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Darlington  <time datetime="2016-">19/06/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Darlington"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Ripon City  <time datetime="2016-">26/06/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Ripon City"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Filey  <time datetime="2016-">17/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Filey"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Kirkbymoorside <time datetime="2016-">24/07/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Kirkbymoorside"}, :class => "datelink"%> </li>
  <li><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Hunley Hotel& Golf  <time datetime="2016-">07/08/2016</time> <%= link_to "Player Registration", {:controller => :submissions, :action => :new, :fixture =>"Hunley Hotel& Golf"}, :class => "datelink"%></li>
</ul>
<%= render 'shared/problem' %>
</div>
