<!DOCTYPE html>
<html>
<head>
  <title>Golfsite1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
<%-# , 'data-turbolinks-track' => true -%>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">
    <%= render 'shared/header' %>
    <div class="row">
      <div id="content" class="col-md-9">
        <%= yield %>
      </div><!--end of content-->
      <div id="sidebar" class="col-md-3">
         <h1>Sidebar place holder</h1>
      </div><!--end of sidebar-->
    </div><!--end of row-->
  </div><!-- end of bootrstap container-->
</body>
</html>
